@{
    ViewData["Title"] = "Interview_App";
}

<div class="text-center">
    <h1 class="display-4">Interview_App</h1>
    <p>Данные выводятся для всех кто зареган в системе. Id автоинкрементировал, PersonalInformationXml не вывожу при добавлении данных, когда данные добавлены - PersonalInformationXml = "Not edited", когда отредактированы = "Edited".</p>
</div>
